# Environments
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# AI Models
ai_engine/saved_models/*.pkl

# XAMPP / Database
config/database.php
database/black_cafe_pos.sql

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
